
<!-- saved from url=(0045)http://www.harstone.com/employeeworksheet.htm -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"><!-- Meta Tags created with Webmaster Tools (http://webmastertools.sawpit.net). -->

<title>Harstone Electrical Services, Cleveland Ohio</title>

<script src="jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<meta name="MSSmartTagsPreventParsing" content="false">
<meta name="description" content="Harstone Electrical Services, where you can get ">
<meta name="keywords" content="Electrical, Contractor, Cleveland Ohio, Electrical Contractor, Cuyahoga County, Summit County, Portage County, Lake County, Medina County, Lorain County, residential electrician, commerical electrician">
<meta name="Generator" content="Meta Tag Wizard - www.sawpit.net/webmaster/">
<meta name="PUBLISHER" content="Oracle Media Solutions.  http://www.oraclemediasolutions.net">
<meta name="LANGUAGE" content="English">
<meta name="COPYRIGHT" content="Copyright 2006, All Rights Reserved, Harstone Electrical Services">
<meta name="ROBOTS" content="index">
<meta name="ROBOTS" content="follow">
<meta name="REVISIT-AFTER" content="30 days">

<title>Form</title>

<meta http-equiv="Content-Language" content="en-us">

<title>New Page 1</title>
<script language="JavaScript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}

// -->

var types = ["EMT_conduit", "rigid_aluminum", "rigid_galav", "PVC", "greenfield", "sealtite", "unistrut_shallow", "unistrut_deep",
             "1_hole_straps", "box_connectors", "couplings", "min_lax", "strut_clip", "straight_fitting", "90_*_fitting",
             "threaded_rod"];

var sizes = ["1/2in", "3/4in", "1in", "1_1/2in", "1_3/4in", "2in", "2_1/2in", "2_3/4in", "3in", "3_1/2in", "3_3/4in", "4in"];

var ft_types = ['#_16_THHN', '#_14_THHN', '#_12_THHN', '#_10_THHN', '#_8_THHN', '#_6_THHN', '#_4_THHN', '#_3_THHN', '#_2_THHN', 
                '#_1_THHN', '1_OT', '2_OT', '3_OT', '4_OT', 'MCM_250', 'MCM_300', 'MCM_350', 'MCM_500', 'MCM_600', 'MCM_750', 'MCM_750',
                '14/2', '14/3', '12/2', '12/3', '12/4', '10/2', '10/3', '10/4'];

var feet_types = new Array();
feet_types['#_16_THHN'] = 0.10;
feet_types['#_14_THHN'] = 0.14;
feet_types['#_12_THHN'] = 0.16;
feet_types['#_10_THHN'] = 0.25;
feet_types['#_8_THHN'] = 0.30;
feet_types['#_6_THHN'] = 0.35;
feet_types['#_4_THHN'] = 0.40;
feet_types['#_3_THHN'] = 0.00;
feet_types['#_2_THHN'] = 0.00;
feet_types['#_1_THHN'] = 0.00;

feet_types['1_OT'] = 0.00;
feet_types['2_OT'] = 0.00;
feet_types['3_OT'] = 0.00;
feet_types['4_OT'] = 0.00;
feet_types['MCM_250'] = 0.00;
feet_types['MCM_300'] = 0.00;
feet_types['MCM_350'] = 0.00;
feet_types['MCM_500'] = 0.00;
feet_types['MCM_600'] = 0.00;
feet_types['MCM_750'] = 0.00;
feet_types['MCM_750'] = 0.00;
feet_types['14/2'] = 0.05;
feet_types['14/3'] = 0.10;
feet_types['12/2'] = 0.15;
feet_types['12/3'] = 0.20;
feet_types['12/4'] = 0.25;
feet_types['10/2'] = 2.00;
feet_types['10/3'] = 0.00;
feet_types['10/4'] = 0.00;

function show_element(element_name) {
  document.getElementById(element_name).style.visibility = 'visible';
}

function hide_element(element_name) {
  document.getElementById(element_name).style.visibility = 'collapsed';
}

function toggle_show(element_name) {
  display = document.getElementById(element_name).style.display;
  if (display == 'none') {
    document.getElementById(element_name).style.display = 'block';
  } else {
    document.getElementById(element_name).style.display = 'none';
  }
}

</script>

<style>
  .close {
    font-family: Arial;
    position: absolute;
    top:0;
    right: 0;
    margin: 5px 5px;
  }

  .close:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .popup_table {
  }

  .item_picker {
  }

  .item_picker table, .feet_picker table
  {
    border-collapse:collapse;
  }
  .feet_picker table {
    float: left;
    margin-right: 10px;
  }
  .item_picker td, .feet_picker td
  {
    border: 1px solid black;
  }

  .item_picker th, .feet_picker th {
    border: 1px solid black;
    padding: 6px;
  }
  .item_picker tr.alt, .item_picker td.alt, .item_picker th.alt,
  .feet_picker tr.alt, .feet_picker td.alt, .feet_picker th.alt {
    background: #DDDDDD;
  }
  .item_picker td.dark, .feet_picker td.dark {
    background: #BBBBBB;
  }

  .hide_link {
    border: 1px black solid;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .hide_link:hover {
    background: gray;
  }

</style>

</head>

<body onload="FP_preloadImgs(/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button12.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button11.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button15.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button14.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button18.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button17.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button1B.jpg&#39;,/*url*/&#39;file:///C:/Documents%20and%20Settings/Compaq_Owner/Local%20Settings/Temporary%20Internet%20Files/FrontPageTempDir/button1A.jpg&#39;)" style="background-attachment: fixed">

<p align="center">
    <img border="0" src="./Harstone Electrical Services, Cleveland Ohio_files/harstone.jpg" width="576" height="280"><br>



<a href="http://www.harstone.com/employeeindex.htm">
<img border="0" id="img1" src="./Harstone Electrical Services, Cleveland Ohio_files/button32.jpg" height="20" width="100" alt="Employee Main" onmouseover="FP_swapImg(1,0,/*id*/&#39;img1&#39;,/*url*/&#39;button27.jpg&#39;)" onmouseout="FP_swapImg(0,0,/*id*/&#39;img1&#39;,/*url*/&#39;button32.jpg&#39;)" onmousedown="FP_swapImg(1,0,/*id*/&#39;img1&#39;,/*url*/&#39;button26.jpg&#39;)" onmouseup="FP_swapImg(0,0,/*id*/&#39;img1&#39;,/*url*/&#39;button27.jpg&#39;)" fp-style="fp-btn: Embossed Capsule 9; fp-orig: 0" fp-title="Employee Main"></a><b><font face="Tahoma">&nbsp;&nbsp;
<a href="./Harstone Electrical Services, Cleveland Ohio_files/Harstone Electrical Services, Cleveland Ohio.html">
<img border="0" id="img2" src="./Harstone Electrical Services, Cleveland Ohio_files/button33.jpg" height="20" width="100" alt="Worksheet" onmouseover="FP_swapImg(1,0,/*id*/&#39;img2&#39;,/*url*/&#39;button29.jpg&#39;)" onmouseout="FP_swapImg(0,0,/*id*/&#39;img2&#39;,/*url*/&#39;button33.jpg&#39;)" onmousedown="FP_swapImg(1,0,/*id*/&#39;img2&#39;,/*url*/&#39;button28.jpg&#39;)" onmouseup="FP_swapImg(0,0,/*id*/&#39;img2&#39;,/*url*/&#39;button29.jpg&#39;)" fp-style="fp-btn: Embossed Capsule 9; fp-orig: 0" fp-title="Worksheet"></a>&nbsp;&nbsp;
<a href="http://www.harstone.com/employeevacation.htm">
<img border="0" id="img3" src="./Harstone Electrical Services, Cleveland Ohio_files/button34.jpg" height="20" width="100" alt="Vacation Req." onmouseover="FP_swapImg(1,0,/*id*/&#39;img3&#39;,/*url*/&#39;button31.jpg&#39;)" onmouseout="FP_swapImg(0,0,/*id*/&#39;img3&#39;,/*url*/&#39;button34.jpg&#39;)" onmousedown="FP_swapImg(1,0,/*id*/&#39;img3&#39;,/*url*/&#39;button30.jpg&#39;)" onmouseup="FP_swapImg(0,0,/*id*/&#39;img3&#39;,/*url*/&#39;button31.jpg&#39;)" fp-style="fp-btn: Embossed Capsule 9; fp-orig: 0" fp-title="Vacation Req."></a></font></b>&nbsp;&nbsp;
<a href="http://www.harstone.com/index.html">
<img border="0" id="img4" src="./Harstone Electrical Services, Cleveland Ohio_files/button35.jpg" height="20" width="100" alt="Main Site" onmouseover="FP_swapImg(1,0,/*id*/&#39;img4&#39;,/*url*/&#39;button1A1.jpg&#39;)" onmouseout="FP_swapImg(0,0,/*id*/&#39;img4&#39;,/*url*/&#39;button35.jpg&#39;)" onmousedown="FP_swapImg(1,0,/*id*/&#39;img4&#39;,/*url*/&#39;button1B1.jpg&#39;)" onmouseup="FP_swapImg(0,0,/*id*/&#39;img4&#39;,/*url*/&#39;button1A1.jpg&#39;)" fp-style="fp-btn: Embossed Capsule 9; fp-orig: 0" fp-title="Main Site"></a></p>


<p></p>

<p align="center">&nbsp;<!-- Begin Freedback Form -->
<!-- DO NOT EDIT YOUR FORM HERE, PLEASE LOG IN AND EDIT AT FREEDBACK.COM -->
</p><form enctype="multipart/form-data" method="post" action="http://www.freedback.com/mail.php" accept-charset="UTF-8">
	<div>
<!-- Begin
var months=new Array(13);
months[1]="January";
months[2]="February";
months[3]="March";
months[4]="April";
months[5]="May";
months[6]="June";
months[7]="July";
months[8]="August";
months[9]="September";
months[10]="October";
months[11]="November";
months[12]="December";
var time=new Date();
var lmonth=months[time.getMonth() + 1];
var date=time.getDate();
var year=time.getYear();
if (year < 2000)
year = year + 1900;
document.write(lmonth + " ");
document.write(date + ", " + year);
// End -->




		<input type="hidden" name="acctid" id="acctid" value="fdalhrw4e16g2j10">
		<input type="hidden" name="formid" id="formid" value="301089">
		<input type="hidden" name="required_vars" id="required_vars" value="name,email,field-e71cf8cab28df96,field-b9e1cd02d947d29,field-9181d79a811425a,field-dcadf34b4948181,field-1cf3c9d4835527a">
	</div>
	<table cellspacing="5" cellpadding="5" border="0">
		<tbody><tr>
			<td valign="top">
				<strong>Your Name:</strong>
			</td>
			<td valign="top">
				<input type="text" name="name" id="name" size="40" value="">

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Your E-mail Address:</strong>
			</td>
			<td valign="top">
				<input type="text" name="email" id="email" size="40" value="">

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Job Location:</strong>
			</td>
			<td valign="top">
				<input type="text" name="field-e71cf8cab28df96" id="field-e71cf8cab28df96" size="40" value="">

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Service Date:</strong>
			</td>
			<td valign="top">
				<input type="text" name="field-b9e1cd02d947d29" id="field-b9e1cd02d947d29" size="40" value="">

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Hours Worked:</strong>
			</td>
			<td valign="top">
				<input type="text" name="field-9181d79a811425a" id="field-9181d79a811425a" size="40" value="">

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Parts used: <br>
				<font size="2">Make sure you put commas after the part and it's
				amount <br>
				( EXAMPLE ) 1/2" EMT -20', 1/2" EMT Box Fittings -4, 4" Metal
				Boxes -2 </font> </strong>
	 		</td>
			<td valign="top">
				<textarea name="field-dcadf34b4948181" id="field-dcadf34b4948181" rows="6" cols="40" onclick="$('#myModal').modal()"></textarea>

			</td>
		</tr>
		<tr>
			<td valign="top">
				<strong>Job Summary</strong>
			</td>
			<td valign="top">
				<textarea name="field-1cf3c9d4835527a" id="field-1cf3c9d4835527a" rows="6" cols="40"></textarea>

			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value=" Submit Form ">
			</td>
		</tr>
	</tbody></table>
</form>
<br>

<style>
  #parts_used {
    height: 100%;
  }

  #parts_lists {
    border-left: 1px solid gray;
  }

  .part_button, .ft_part_button {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 5px;
    text-align: center;
    width: 100px;
  }

  .part_button:hover, .ft_part_button:hover {
    background-color: #EEEEEE;
    border: 1px solid #111111;
  }

</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class='row'>
          <div id='parts_used' class='col-md-4'>
          </div>
          <div id='parts_lists' class='col-md-8'>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      By Qty
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div id='part_container' class="panel-body">
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      By Length
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div id="ft_part_container" class="panel-body">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="update_parts_submit"  type="button" class="btn btn-primary" onClick='updatePartsBox()'>Submit</button>
      </div>
    </div>
  </div>
</div>

<style>
  #part_counter_dialog {
    width: 275px;
  }

  #part_counter {
    text-align: center;
  }

  #part_count {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    width: 100px;
  }

  .size_selectors {
    margin-bottom: 10px;
  }

  .size_selector {
    width: 75px;
  }
</style>

<script language="javaScript">
  var added_parts = [];

  function add_parts() {
    var name = $('#part_name').html();
    var count = $('#part_count').val();
    var size = $('.size_selector.active').html();

    added_parts.push({ 'name':name, 'count':count, 'size':size });
    update_used_parts();

    $('.size_selector').removeClass('active');
    $('#part_count').val(1)
    $('#partModal').modal('hide');
  }

  function add_ft_parts() {
    var name = $('#ft_part_name').html();
    var count = $('#ft_part_count').val() + '\'';

    added_parts.push({ 'name':name, 'count':count });
    update_used_parts();

    $('#ft_part_count').val(1)
    $('#ftPartModal').modal('hide');
  }

  function update_used_parts() {
    var inner = '';

    $.each(added_parts, function(index, value) {
      inner += "<div class='used_part'>"
      if(value.size) {
        inner += value.size + ' '; 
      }

      inner += value.name.replace(/_/g, ' ') + ' -' + value.count + "</div>";
    });

    $('#parts_used').html(inner);
  }

  function updatePartsBox() {
    var part_strings = [];

    $('.used_part').each(function() {
      part_strings.push($(this).html());
    });

    $('#field-dcadf34b4948181').html(part_strings.join());
    $('#myModal').modal('hide');
  }
</script>

<!-- Modal -->
<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="partModalLabel" aria-hidden="true">
  <div class="modal-dialog" id='part_counter_dialog'>
    <div class="modal-content">
      <div class="modal-body" id='part_counter'>
        <div id='part_name'></div>
				<input type="number" name="part_count" id="part_count" size="40" value="1">

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group size_selectors" role="group">
            <button type="button" class="btn btn-default size_selector">1/2"</button>
            <button type="button" class="btn btn-default size_selector">3/4"</button>
            <button type="button" class="btn btn-default size_selector">1"</button>
          </div>
          <div class="btn-group size_selectors" role="group">
            <button type="button" class="btn btn-default size_selector">1 1/2"</button>
            <button type="button" class="btn btn-default size_selector">1 3/4"</button>
            <button type="button" class="btn btn-default size_selector">2"</button>
          </div>
          <div class="btn-group size_selectors" role="group">
            <button type="button" class="btn btn-default size_selector">2 1/2"</button>
            <button type="button" class="btn btn-default size_selector">2 3/4"</button>
            <button type="button" class="btn btn-default size_selector">3"</button>
          </div>
          <div class="btn-group size_selectors" role="group">
            <button type="button" class="btn btn-default size_selector">3 1/2"</button>
            <button type="button" class="btn btn-default size_selector">3 3/4"</button>
            <button type="button" class="btn btn-default size_selector">4"</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id='add_part_submit' type="button" class="btn btn-primary disabled" onClick='add_parts()'>Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ftPartModal" tabindex="-1" role="dialog" aria-labelledby="ftPartModalLabel" aria-hidden="true">
  <div class="modal-dialog" id='ft_part_counter_dialog'>
    <div class="modal-content">
      <div class="modal-body" id='ft_part_counter'>
        <div id='ft_part_name'></div>
				<input type="number" name="ft_part_count" id="ft_part_count" size="40" value="1">
        <span>'</span>
      </div>
      <div class="modal-footer">
        <button id='add_ft_part_submit' type="button" class="btn btn-primary" onClick='add_ft_parts()'>Submit</button>
      </div>
    </div>
  </div>
</div>

<p align="center">
<a href="http://www.harstone.com/EMPLOYEEDAILYREPORTCALENDARFORM.html">CLICK HERE
FOR EMPLOYEE DAILY HOUR REPORT</a></p>

<font face="arial"><b>
<script language="JavaScript1.2">

<!-- Begin
var months=new Array(13);
months[1]="January";
months[2]="February";
months[3]="March";
months[4]="April";
months[5]="May";
months[6]="June";
months[7]="July";
months[8]="August";
months[9]="September";
months[10]="October";
months[11]="November";
months[12]="December";
var time=new Date();
var lmonth=months[time.getMonth() + 1];
var date=time.getDate();
var year=time.getYear();
if (year < 2000)
year = year + 1900;
document.write(lmonth + " ");
document.write(date + ", " + year);
// End -->
</script>November 19, 2011
</b></font>

<!-- text below generated by server. PLEASE REMOVE --><!-- Counter/Statistics data collection code --><script language="JavaScript" src="./Harstone Electrical Services, Cleveland Ohio_files/whv2_001.js"></script><script language="javascript">geovisit();</script><img border="0" style="display:none" src="./Harstone Electrical Services, Cleveland Ohio_files/visit.gif">
<noscript>&lt;img src="http://visit.webhosting.yahoo.com/visit.gif?us1321710523" alt="setstats" border="0" width="1" height="1"&gt;</noscript></body></html>


<script language="JavaScript">
  var parts = ["EMT_conduit", "rigid_aluminum", "rigid_galav", "PVC", "greenfield", "sealtite", "unistrut_shallow", "unistrut_deep",
      "1_hole_straps", "box_connectors", "couplings", "min_lax", "strut_clip", "straight_fitting", "90_*_fitting",
      "threaded_rod"];

  var ft_parts = ['#_16_THHN', '#_14_THHN', '#_12_THHN', '#_10_THHN', '#_8_THHN', '#_6_THHN', '#_4_THHN', '#_3_THHN', '#_2_THHN', 
      '#_1_THHN', '1_OT', '2_OT', '3_OT', '4_OT', 'MCM_250', 'MCM_300', 'MCM_350', 'MCM_500', 'MCM_600', 'MCM_750', 'MCM_750',
      '14/2', '14/3', '12/2', '12/3', '12/4', '10/2', '10/3', '10/4'];

  var orig = '';
  for (i = 0; i < parts.length; i++) {
    orig += '<div class="part_button" onclick="select_part(\'' + parts[i] + '\')">' + parts[i].replace(/_/g, ' ') + "</div>";
  }
  $('#part_container').html(orig);

  var ft_orig = '';
  for (i = 0; i < ft_parts.length; i++) {
    ft_orig += '<div class="ft_part_button" onclick="select_ft_part(\'' + ft_parts[i] + '\')">' + ft_parts[i].replace(/_/g, ' ') + "</div>";
  }
  $('#ft_part_container').html(ft_orig);


  function select_part(part) {
    $('#part_name').html(part);
    $('#partModal').modal();
  }

  function select_ft_part(part) {
    $('#ft_part_name').html(part);
    $('#ftPartModal').modal();
  }

$('.size_selector').click(function(event) {
    $('.size_selector').removeClass('active');
    $(event.target).addClass('active');

    $('#add_part_submit').removeClass('disabled');
  } );
</script>
